.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 100px;
  background-color: #1a1a1e;
}

.timer-container {
  position: relative;
  width: min(700px, 80vw);
  height: min(700px, 80vw);
  cursor: pointer;
}

.progress-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.timer-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texts {
  padding: 0px;
  margin: 0px;
  font-size: 8rem;
  font-weight: 800;
  color: #ff8a80;
}

.btn-start-pause {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #ff8a80;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
